In [1]:
import pandas as pd
uriage_data = pd.read_csv("uriage.csv")
uriage_data.head()

# 매출이력(uriage.csv)을 출력한것
# 하지만 오류가 보인다
# 데이터에 나타나는 입력 오류나 표기방법 차이가 부정합을 일으킬때
# 데이터의 정합성에 문제가 있다 라고 한다

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

In [2]:
kokyaku_data = pd.read_excel("kokyaku_daicho.xlsx")
kokyaku_data.head()

# 고객정보(kokyaku_daicho.xlsx)을 출력한것
# 데이터의 속성이나 의미를 이해하고
# 데이터의 오류를 파악하는 것부터 시작해볼것

   고객이름  지역                  등록일
0  김 현성  H시  2018-01-04 00:00:00
1  김 도윤  E시                42782
2  김 지한  A시  2018-01-07 00:00:00
3  김 하윤  F시                42872
4  김 시온  E시                43127

### 012_데이터의 오류를 살펴보자

In [4]:
# 매출 이력에서 item_name을 추출해서 데이터의 오류를 확인해보자

uriage_data["item_name"].head()

# item_name 을 간단히 표시하고있지만
# 데이터를 보면 상품 A, a 등 하나의 데이터를 대소문자와 공백으로 인해
# 상품A 에 관한 정확한 집계가 되지않고있다

0      상품A
1    상 품 S
2    상 품 a
3      상품Z
4      상품a
Name: item_name, dtype: object

In [7]:
# item_price 도 확인해보자

uriage_data["item_price"].head()

# 결측치 NaN을 확인할수가 있다.
# 집계 대상 데이터에 오류나 결측치가 있으면 정확한 집계를 할수가 없다
# 우선 시험 삼아 이대로 집계를 진행해볼것이다

0     100.0
1       NaN
2       NaN
3    2600.0
4       NaN
Name: item_price, dtype: float64